menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
body {
  background-color: white;
}
h1 {
  color: darkblue;
}
p {
  text-align: center;
  color: black;
}
.contact{
  text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li a{
  float: right;
}
li a{
  display: black;
  text-decoration: underline;
  text-align: center;
  color: white;
  padding: 14px 16px;

}
li a :hover{
    background-color: cadetblue;
}
h1,h2,p{
  text-align: center;
}
p{
  font-size: 24;
}
footer{
  margin-top: 10px;
  background-color: black;
  
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.icons{
  padding-left: 1350px; 
}
.im{
  margin: 4px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

